<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBblOZmN449HI2ytNxN3Tgymt1kCMlsQEY</string>
	<key>GCM_SENDER_ID</key>
	<string>399352122256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diksed.yeye</string>
	<key>PROJECT_ID</key>
	<string>yeye-app-0</string>
	<key>STORAGE_BUCKET</key>
	<string>yeye-app-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399352122256:ios:f114ad2fdc082a9eb2c115</string>
</dict>
</plist>